:root {
    /* 字體樣式 */
    --Noto-sans: "Noto Sans JP";
    --Inter: "Inter";

    /* 中文字體大小 */
    --h1-zh-font-size: 60px;
    --h2-zh-font-size: 36px;
    --h3-zh-font-size: 32px;
    --h4-zh-font-size: 28px;
    --h5-zh-font-size: 20px;
    --h6-zh-font-size: 16px;
    --p-zh-font-size: 16px;

    /* 英文字體大小 */
    --h1-en-font-size: 49px;
    --h2-en-font-size: 39px;
    --h3-en-font-size: 37px;
    --h4-en-font-size: 25px;
    --h5-en-font-size: 20px;
    --h6-en-font-size: 16px;
    --p-en-font-size: 16px;

    /* 字形樣式 */
    --font-style: normal;

    /* 字形粗細 */
    --font-weight-lg: 900;
    --font-weight-m: 700;
    --font-weight-s: 400;

    /* 行高 */
    --en-line-height: normal;
    --h1-line-height: 80px;
    --h2-line-height: 48px;
    --h3-line-height: 44px;
    --h4-line-height: 36px;
    --h5-line-height: 28px;
    --h6-line-height: 24px;
    --p-line-height: 24px;

    /* 間距 */
    --letter-spacing-lg: 4px;
    --letter-spacing-m: 2px;
    --letter-spacing-s: 1px;
    /* ----------------------------------------- */

    /* 顏色 */
    --primary-01: #6F9B8C;
    --primary-02: #9FA79A;
    --primary-03: #919191;
    --primary-04: #9DB8AF;
    --primary-05: #588072;
    --secondary-01: #DBA783;
    --secondary-02: #C89571;
    --secondary-03: #F0D2BC;
    --black: #000;
    --white: #fff;
    --color-gray-50: #F1F1F1;
    --color-gray-100: #EDEDED;
    --color-gray-200: #E4E4E4;
    --color-gray-300: #DCDCDC;
    --color-gray-400: #D4D4D4;
    --color-gray-500: #CCCCCC;
    --color-gray-600: #ABABAB;
    --color-gray-700: #8B8B8B;
    --color-gray-800: #6A6A6A;
    --color-gray-900: #494949;

    /* card------------- */
    --card-padding-ss: 10px;
    --card-padding-sm: 20px;
    --card-border-radius:20px;
    --card-x-padding:32px;
    --card-y-padding:32px;
    --card-x-padding-lg:48px;
    --card-y-padding-lg:48px;
    --card-x-padding-xl:72px;
    --card-y-padding-xl:72px;
    --card-gap-lg:72px;
    --card-image-icon:125px;
    
    /* layout------------- */
    --layout-container-fluid: 64px;
    --layout-container-lg-x: 240px;
    --layout-container-md-x: 360px;
    --layout-container-y: 120px;
    --layout-min-width: 1200px;
    --layout-max-width: 1920px;
    
    /* button------------- */
    --button-border-radius: 8px;
    --button-border-radius-pill: 150px;
    --button-padding-x: 48px;
    --button-padding-y: 16px;


}   


body {
    font-family: var(--Inter), var(--Noto-sans), sans-serif;
}

/* 中文字體 */
h1:lang(zh) {
    color: var(--color-gray-900);
    font-size: var(--h1-zh-font-size);
    font-style: var(--font-style);
    font-weight: var(--font-weight-lg);
    line-height: var(--h1-line-height);
    letter-spacing: var(--letter-spacing-lg);
}

h2:lang(zh) {
    color: var(--color-gray-900);
    font-size: var(--h2-zh-font-size);
    font-style: var(--font-style);
    font-weight: var(--font-weight-lg);
    line-height: var(--h2-line-height);
    letter-spacing: var(--letter-spacing-m);
}

h3:lang(zh) {
    color: var(--color-gray-900);
    font-size: var(--h3-zh-font-size);
    font-style: var(--font-style);
    font-weight: var(--font-weight-lg);
    line-height: var(--h3-line-height);
    letter-spacing: var(--letter-spacing-m);
}

h4:lang(zh) {
    color: var(--color-gray-900);
    font-size: var(--h4-zh-font-size);
    font-style: var(--font-style);
    font-weight: var(--font-weight-lg);
    line-height: var(--h4-line-height);
    letter-spacing: var(--letter-spacing-m);
}

h5:lang(zh) {
    color: var(--color-gray-900);
    font-size: var(--h5-zh-font-size);
    font-style: var(--font-style);
    font-weight: var(--font-weight-lg);
    line-height: var(--h5-line-height);
    letter-spacing: var(--letter-spacing-m);
}

h6:lang(zh) {
    color: var(--color-gray-900);
    font-size: var(--h6-zh-font-size);
    font-style: var(--font-style);
    font-weight: var(--font-weight-lg);
    line-height: var(--h6-line-height);
    letter-spacing: var(--letter-spacing-s);
}

p:lang(zh) {
    color: var(--color-gray-900);
    font-size: var(--p-zh-font-size);
    font-style: var(--font-style);
    font-weight: var(--font-weight-s);
    line-height: var(--p-line-height);
}

/* ----------------------------------------- */


/* 英文字體 */
h1:lang(en) {
    color: var(--color-gray-900);
    font-size: var(--h1-en-font-size);
    font-style: var(--font-style);
    font-weight: var(--font-weight-m);
    line-height: var(--en-line-height);
}

h2:lang(en) {
    color: var(--color-gray-900);
    font-size: var(--h2-en-font-size);
    font-style: var(--font-style);
    font-weight: var(--font-weight-m);
    line-height: var(--en-line-height);
}

h3:lang(en) {
    color: var(--color-gray-900);
    font-size: var(--h3-en-font-size);
    font-style: var(--font-style);
    font-weight: var(--font-weight-m);
    line-height: var(--en-line-height);
}

h4:lang(en) {
    color: var(--color-gray-900);
    font-size: var(--h4-en-font-size);
    font-style: var(--font-style);
    font-weight: var(--font-weight-m);
    line-height: var(--en-line-height);
}

h5:lang(en) {
    color: var(--color-gray-900);
    font-size: var(--h5-en-font-size);
    font-style: var(--font-style);
    font-weight: var(--font-weight-m);
    line-height: var(--en-line-height);
}

h6:lang(en) {
    color: var(--color-gray-900);
    font-size: var(--h6-en-font-size);
    font-style: var(--font-style);
    font-weight: var(--font-weight-m);
    line-height: var(--en-line-height);
}

p:lang(en) {
    color: var(--color-gray-900);
    font-size: var(--p-en-font-size);
    font-style: var(--font-style);
    font-weight: var(--font-weight-s);
    line-height: var(--en-line-height);
}

/* variables------------------------------- */