.container-fluid.no-padding {
  margin: auto;
}
.cart {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: auto;
  justify-content: center;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
}

.cart-main-title {
  display: flex;
  width: 886px;
  padding: var(--card-padding-ss, 10px) var(--card-x-padding-lg, 48px);
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  border: 5px solid var(--color-gray-200, #e4e4e4);
  background-color: #fff;
  box-shadow: 10px 10px 35px 0 rgba(0, 0, 0, 0.25);
}

.choose-all {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  border-radius: 3px;
  border: 1px solid var(--primary-05);
}

.cart-main-title button {
  color: var(--white);
  display: flex;
  padding: 10px var(--card-padding-sm, 20px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 25px;
  background-color: var(--primary-05, #588072);
}

.cart-main-title button:hover {
  background-color-color: var(--primary-04);
  color: var(--color-gray-900);
}

.cart-main-first {
  display: flex;
  width: 886px;
  padding: var(--card-y-padding, 32px) var(--card-x-padding-lg, 48px);
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  border: 5px solid var(--color-gray-200, #e4e4e4);
  background-color: var(--white, #fff);
  box-shadow: 10px 10px 35px 0 rgba(0, 0, 0, 0.25);
}

.cart-main-first h4 {
  display: none;
}

.orange-side {
  display: flex;
  width: 504px;
  height: fit-content;
  padding: 48px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  border-radius: 15px;
  background-color: var(--secondary-3, #f0d2bc);
  box-shadow: 10px 10px 35px 0 rgba(0, 0, 0, 0.25);
}

@media (max-width: 430px) {
  .container-fluid {
    padding: 0;
  }
  .top {
    display: none;
  }
  .cart {
    flex-direction: column;
  }
  .cart-main-title {
    display: none;
  }
  .cart-main-first {
    width: 100%;
    padding: 10px 20px;
    gap: 0;
    border-radius: 0;
    border: 0;
    box-shadow: none;
  }
  .cart-main-first h4 {
    display: block;
  }
  
  .cart-card{
       display: none;
   }
  .orange-side {
    width: 100%;
    height: auto;
    padding: 20px;
    gap: 15px;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
}
