.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.main-side {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}

.cart-main-first.pc {
    width: 1440px;
    display: flex;
    padding: 32px 48px;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 5px solid var(--color-gray-200, #e4e4e4);
    background-color: var(--white, #fff);
    box-shadow: 10px 10px 35px 0 rgba(0, 0, 0, 0.25);
}

.cart-main-first i {
    font-size: 100px;
    color: var(--primary-05);
}

.cart-main-first.fin-card.pc {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.card-left {
    width: 900px;
}

.card-title {
    width: 100%;
}

.card-right {
    width: auto;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}

.card-right .quantity {
    font-size: 20px;
    text-align: right;
    padding: 0;
    justify-content: center;
    align-items: flex-end;
}


.cart-card {
    width: 100%;
    background-color: var(--color-gray-100);
    padding: 20px;
    border-radius: 10px;
}

.orange-side {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 32px 48px;
    gap: 50px;
    justify-content: space-between;
    box-shadow: none;
    border-radius: 15px;
    background-color: var(--secondary-3, #f0d2bc);
}

.gray-side {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    box-shadow: none;
    border-radius: 15px;
    background-color: var(--color-gray-100);
}

.fin-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.used-coupons {
    display: flex;
    width: 868px;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}

.information {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.info-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-2 p {
    line-height: 24px;
}

.info-button {
    width: 500px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    padding-bottom: 50px;
}


.phone {
    display: none;
}


@media (max-width: 430px) {
    .phone {
        display: block;
    }

    .pc {
        display: none;
    }

    .top {
        display: none;
    }

    .cart {
        padding: 0 10px;
    }

    .main-side.phone {
        width: 100%;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .cart-main-first.phone {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .cart-main-first.phone h4 {
        display: none;
    }

    .cart-main-first h6 {
        padding: 10px 40px;
    }

    .cart-main-first.fin-card.phone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .fin-card-table {
        width: 100%;
        padding: 20px;
        border-collapse: collapse;
        /* 建議加這個，讓格線更緊貼 */
        table-layout: fixed;
        /* 固定表格寬度 */
    }

    .fin-card-table tr {
        border: 1px solid var(--color-gray-600);
    }

    .fin-card-table td,
    .fin-card-table th {
        padding: 10px 10px;
    }

    .fin-card-details td,
    .fin-card-details th {
        padding: 0;
    }


    .fin-card-title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .fin-card-title i {
        font-size: 20px;
        padding-top: 3px;
        padding-right: 5px;
    }

    .fin-card-title h6 {
        padding: 0;
    }

    .fin-card-details {
        width: 100%;
        margin: 0 auto;
        table-layout: fixed;
        width: 100%;
        border-collapse: separate;
        /* 預設是 collapse，要改成 separate 才能用 spacing */
        border-spacing: 0 20px;
        /* 水平間距 0，垂直間距 12px */
    }



    .fin-card-details td:first-child {
        width: 150px;
        /* 固定第一欄寬度 */
        white-space: nowrap;
        /* 不換行 */
    }

    .fin-card-details td:last-child {
        width: auto;
        /* 讓右邊自動填滿 */
        overflow: hidden;
        /* 超過寬度隱藏 */
        text-overflow: ellipsis;
        /* 超出顯示 ... */
        white-space: nowrap;
        /* 單行顯示 */
    }

    .info-button {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 0;
        gap: 10px;
        text-align: center;
    }

}