.payment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pay {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.p-line {
  width: 1px;
  height: 100%;
  background-color: var(--color-gray-600);
  margin: auto;
}

.invoice {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.phone {
  display: none;
}

@media (max-width: 430px) {
  .pc {
    display: none;
  }
  .phone {
    display: block;
  }
  .payment.phone{
    height: auto;
  }
  .toggleBtn {
    position: absolute;
    left: 0;
    width: 100%;
    border-top: 1px solid var(--primary-05);
    border-bottom: 1px solid var(--primary-05);
    background-color: var(--white);
    height: 84px;
  }
  .pay.phone{
    margin-top: 95px;
  }
  .invoice-pay.phone{
    margin-top: 95px;
    height: 100%;
  }
  .dropdown-toggle.phone{
    width: 100%;
  }
}
