.amount-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  width: 100%;
}

.amount-list.fin {
  width: 330px;
}

.pAmount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.choose-cp {
  display: flex;
  
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
}



.cp-discount {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.fee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

}


.nextOrBack {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.nextOrBack-phone {
  display: none;
}

.t-line {
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-700);
}

.phone {
  display: none;
}

@media (max-width: 430px) {
  .h5 {
    display: none;
  }

  .total {
    display: none;
  }

  .total.phone {
    height: 100%;
    display: flex;
    flex-direction: row;

  }


  .nextOrBack {
    display: none;
  }

  .nextOrBack-phone {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  .t-line {
    width: 100%S;
  }

  .nextOrBack-phone .green-button {
    border-radius: 5px;
  }
}