.begin {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    margin-bottom: 100px;
}

.background {
    width: 100%;
    height: 1113px;
    position: absolute;
    background-image: url(/img/living-room.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: -400;
    left: 0;
    z-index: -1;
}


.hot-article {
    display: flex;
    width: 1440px;
    padding-top: 280px;
    justify-content: space-between;
    align-items: flex-end;
}

.hot1 {
    display: flex;
    width: 556px;
    padding: var(--card-y-padding-xl, 72px) var(--card-x-padding-xl, 72px);
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex-shrink: 0;
    background: var(--primary-04, #588072);
}

.readMoreButton {
    display: flex;
    padding: 22px var(--card-padding-sm, 20px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-gray-900);
    border-radius: 3px;
    border: none;
}

.hot2 {
    display: flex;
    width: 400px;
    height: 227px;
    padding: var(--card-x-padding, 32px);
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    background: var(--color-gray-400, #D4D4D4);
}

.hot3 {
    display: flex;
    width: 400px;
    height: 227px;
    padding: var(--card-x-padding, 32px);
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    background: var(--color-gray-400, #D4D4D4);
}

.readMoreArrow {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.readMore {
    display: flex;
    align-items: center;
    border-bottom: 3px solid var(--black, #000);
}

.arrow {
    display: flex;
    height: 24px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* main-------------------------- */
.main {
    display: flex;
    height: 1560px;
    padding: 0 240px var(--card-y-padding-lg, 48px) 240px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.main-list {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
}

/* left-bar----------------------------- */
.left-bar {
    display: flex;
    width: 330px;
    padding: 25px 35px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    align-self: stretch;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.search h5 {
    align-self: stretch;
}

.search-input {
    display: flex;
    height: 46px;
    padding: var(--card-padding-ss, 10px) var(--card-padding-sm, 20px);
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.left-bar-line {
    width: 260px;
    height: 1px;
    background: #494949;
}

.categorys-list {
    display: flex;
    height: 327px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}

.categorys-list h5 {
    align-self: stretch;
}

.categorys {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

.cg {
    display: flex;
    padding: var(--card-padding-ss, 10px) var(--card-padding-sm, 20px);
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-left: 3px solid var(--primary-05, #588072);
}

.date-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.search-button {
    display: flex;
    height: 46px;
    padding: var(--card-padding-ss, 10px) var(--card-padding-sm, 20px);
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--primary-03, #919191);
    background: var(--white, #FFF);
}

.populars {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}

.popular-list {
    display: flex;
    height: 284px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-left: 3px solid var(--color-gray-400, #D4D4D4);
}

.ppr {
    display: flex;
    padding: var(--card-padding-ss, 10px) var(--card-padding-sm, 20px);
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    border-left: 3px solid var(--primary-05, #588072);
}

/* 文章列表-------------------------------- */
.main-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    flex: 1 0 0;
}

.main-article-list {
    display: flex;
    height: 1414px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.article-row {
    display: flex;
    height: 465px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
}

.card {
    display: flex;
    width: 360px;
    height: 456px;
    padding: 48px 48px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    border: none;
}

Image {
    width: 264px;
    height: 173px;
}

.card-category {
    display: flex;
    width: 99px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--primary-05);
}

.card-category h6 {
    color: #FFF;
}

.pagination {
    display: flex;
    padding: var(--card-padding-sm, 20px) 6px;
    align-items: center;
    gap: 27px;
}

.page-item:first-child .page-link ,
.page-item:last-child .page-link {
     border-radius: 50%;
}

.pagination .page-link {
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--color-gray-900);
    border: none;
    transition: none;
    color: var(--primary-05);
}

.pagination .page-link:hover {
    color: var(--white);
    background-color: var(--primary-04);
    border-radius: 50%;
}

.pagination .page-link:active {
    background-color: var(--primary-05);
    border-radius: 50%;
}

