.full {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
}

.left {
    display: none;
    background-size: cover;
    background-position: center;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    color: #919191;
}

.form {
    width: 100%;
    max-width: 400px;
}

.title {
    font-weight: 700;
    font-size: 1.8rem;
    color: #000;
    margin-bottom: 30px;
}

/* .btnPrimary {
    background-color: #6c9c8f;
    color: #fff;
    border: none;
    width: 100%;
}

.btnPrimary:hover {
    background-color: #5b887b;
} */

.links {
    margin-top: 12px;
    font-size: .9rem;
    display: flex;
    gap: 12px;
}

.links a {
    color: #919191;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

/* RWD：>=768px 才顯示左圖 */
@media (min-width: 768px) {
    .left {
        display: block;
    }
}

/* 手機版 (<= 430px) */
@media (max-width: 430px) {
    .full {
        display: flex;
        flex-direction: column;
        padding: 100px 50px;
        /* 讓內容不要貼邊 */
    }

    .right {
        padding: 0;
        /* 減少左右留白 */
        justify-content: flex-start;
    }

    .form {
        max-width: 100%;
        /* 滿版寬度 */
    }

    .title {
        font-size: 32px;
        /* 標題稍微縮小 */
        margin-bottom: 50px;
    }

    .links {
        justify-content: left;
        font-size: 0.85rem;
    }
}